# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: build(${{matrix.ruby}} / ${{matrix.os}})
    strategy:
      matrix: 
        ruby: [2.7]
        os: [ubuntu-latest, macos-latest]
      runs-on: ${{matrix.os}}
      steps:
        - uses: actions/checkout@master 
        - name: Set up Ruby 
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
        - name: Install dependencies
        run: |
          gem install bundle --no-document 
          bundle install
        - name: Run test
        run: rake test

#  test:
#    strategy: 
#      fails-fast: false
#      matrix:
#        os: [ubuntu-18.04, ubuntu-20.04]
#        ruby-version: ['2.7']
#    name: ${{matrix.os}} ${{matrix.ruby}}
#    runs-on: ${{matrix.os}}
#    steps:
#      - uses: actions/checkout@v2
#      - uses: ./
#        with:
#          ruby-version: ${{ matrix.ruby}}
#          bundler-cache: true 
#      - run: ruby -v
#      - name: PATH
#        shell: bash 
#        run: echo $PATH
#